body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#criarBarra {
    width: 200px; /* Largura do retângulo */
    height: 100px; /* Altura do retângulo */
    background-color: blue; /* Cor de fundo do retângulo */
    border: 1px solid black;
}
